<h1 mat-dialog-title>Create New Column</h1>
<div mat-dialog-content>
  <p>Enter a column name:</p>
  <mat-form-field>
    <label>
      <input matInput [(ngModel)]="newColumnName">
    </label>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select background color:</mat-label>
    <mat-select [(ngModel)]="chosenColor">
      <mat-option *ngFor="let color of colors" [value]="color">
        {{color | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{name: newColumnName, color: chosenColor}">Create</button>
</div>
